.container{
    width: 1000px;
    height: 100px;
    background-color: #0095ff;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;

}


.logo{
    font-size:  18px;
    color: aliceblue;
    margin-bottom: 50%;
}
#strong{
    font-size: 40px;
    font-style: bold;
}
.article{
    font-size: 30px;

}
.link{
    color: rgb(0, 162, 255);
}
.secondary{
    margin-top: 0;

}
.first{
    margin-bottom: 0%;
}
.background-lorem{
    background-color: yellow;
}
table{
    width: 70%;
    height: 50%;
    padding: 50px;
    box-sizing: border-box;
}
.table-row{
    background-color:rgb(0, 110, 255);
    color: white;

}
.table-line{
    background-color: aqua;
}

.foot{
    background-image: url('../img/monitor.jpg');
    width: 250px;
    height: 200px;
    color: white;
}
.feet{
    background-image: url('../img/graph.jpg');
    width: 250px;
    height: 200px;
    color: white;
}
h3{
    color: lightgray;
}